*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #111;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
 
a{
    text-decoration: inherit;
}

.addcharacter 
{
    color: #31A6FF;
    font-family: "proxima nova";
    font-weight: 100;
    font-size: 56px;
    text-align: center;
    border: solid 2px #31A6FF;
    border-radius: 50px;
    padding: 10px 50px;
}

.addcharacter:hover 
{
  background-color: #31A6FF;
  color: #000;
}
  .swiper-container {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 380px;
    background: #fff;
  }

  .swiper-slide .imgBx {
    overflow: hidden;
  }
  .swiper-slide .imgBx img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;   
    left: 50%;
    transform: translate( -50%, -50%);
    object-fit: cover;
  }

  .swiper-slide .details {
      box-sizing: border-box;
      font-size: 20px;
      padding: 20px;
  }

  .swiper-slide .details h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.swiper-slide .details h3 span{

    font-size: 16px;
    color:#f44336;
}

input[type="file"]{
    display: none;
}

.labelfile{
    color: white;
    height: 60px;
    width: 250px;
    background-color: #f5af09;
}